$title-font-color: #6E522D;
$title-hover-color: #8B6A4A;
$text-font-color: #7D7D7D;
$background-div-color: rgba(255, 255, 255, 0.4);
$box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
$border-shadow: 1px solid #cbbfbf;

$input-bg-color: rgba(238, 238, 238, 0.7);
$input-box-shadow: inset $box-shadow;
$input-hover-color: rgba(245, 245, 245, 0.9);

$button-bg-color: rgba(248, 235, 217, 0.88);
$button-hover-color: #E6D1B3;