@use "@/shared/styles/variables" as *;

.form {
    width: 850px;
    height: fit-content;
    display: flex;
    flex-direction: column;

    .flexDiv {
        display: flex;

        .inputs {
            width: 240px;
            flex-shrink: 0;
            margin-right: 25px;
        }
    }

    .textarea {
        width: 100%;
    }
}

.button {
    margin-top: 20px;
    height: 60px;
    width: 100%;

    &:hover {
        background-color: $button-hover-color;
    }
}

.success {
    max-width: 600px;
    padding: 25px 0;
}