@import "/src/utils/variables";

.important {
    background: $button-bg-color;
    border-radius: 28px;
    color: $title-font-color;
    padding: 10px 20px;
    margin: 22px 0;
    width: 100%;
    height: 75px;

    a {
        cursor: pointer;
        transition: all 200ms ease;

        &:hover {
            color: $title-hover-color;
        }
    }

    p {
        color: $title-font-color;
    }
}