@import "/src/utils/variables";

.dialog {
    position: relative;
    z-index: 50;

    .background {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.3);

        .panel {
            display: flex;
            flex-direction: column;
            background-color: rgba(255, 255, 255, 0.9);
            padding: 30px;
            max-width: 85vh;
            max-height: 95vh;
            overflow-y: auto;

            .header {
                display: flex;
                margin-bottom: 20px;
                align-items: center;

                .title {
                    font-size: 32px;
                    color: $title-font-color;
                }
            }

            .closeModal {
                margin-left: auto;

                svg {
                    stroke: $title-font-color;
                    cursor: pointer;
                    transition: all 300ms ease;

                    &:hover {
                        transform: scale(1.2);
                        stroke: $title-hover-color;
                    }
                }
            }
        }
    }
}

img {
    max-height: 750px;
}