$background: #E9E9E9;
$font-title: #6E522D;
$font-text: #7D7D7D;

@font-face {
    font-family: Manrope;
    src: url('/src/assets/fonts/Manrope-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Manrope;
    src: url('/src/assets/fonts/Manrope-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Manrope;
    src: url('/src/assets/fonts/Manrope-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Manrope", sans-serif;
    font-size: 20px;
    color: $font-text;

    a {
        text-decoration: none;
    }

    img {
        max-width: 100%;
    }
}

.container {
    width: 1075px;
    margin: 0 auto;
}

.block {
    height: 450px;
    border-radius: 35px;
    fill: rgba(255, 255, 255, 0.4);
    border-left: 1px solid #cbbfbf;
    border-top: 1px solid #cbbfbf;
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.wrapper {
    background-image: url("/public/background.svg");
}

.main {
    display: flex;

    border-left: 1px solid #cbbfbf;
    border-top: 1px solid #cbbfbf;
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 35px;

    .description {
        width: 700px;
        padding: 25px 0 0 20px;

        p {
            font-size: 20px;
        }
    }
}

.feedbacks {
    display: flex;
    flex-direction: row;
    gap: 20px
}