@import "/src/utils/variables";

.form {
    display: flex;

    .inputs {
        width: 301px;
        padding: 15px 18px;
        margin-right: 10px;
    }
}

.textarea {
    position: relative;
    width: calc(100% - 301px);
    padding: 16px 20px;

    button {
        background: $button-bg-color;
        color: $title-font-color;
        font-weight: 700;
        border: none;
        position: absolute;
        bottom: 16px;
        left: 20px;
        height: 55px;
        width: calc(100% - 40px);
        border-radius: 20px;
        font-size: 20px;
        cursor: pointer;
        transition: all 200ms ease;

        &:hover {
            background-color: $button-hover-color;
        }
    }
}